body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* custom */
body {
    overflow-y: hidden;
    color: #f8edeb;
}
ul {
    margin: 0;
}

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111111;
    background-image: url("img/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}
canvas {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.contact {
    position: absolute;
    z-index: 99;
    left: 0%;
    top: 100%;
}
.contact > span {
    color: rgb(2, 212, 99);
}
.contact .title-mail {
    color: #d3d3d3;
}
.title {
    position: absolute;
    z-index: 99;
    top: 27%;
    left: 4%;
}
.title p, .title a, .contact .title-mail, .contact .title-phone {
    font-family: 'Source Code Pro', monospace;
    text-shadow: black 0px 0px 10px;
    text-decoration: none;
}
.title .title-mail {
    color: #bcb8b1;
}
.text-white {
    color: #bcb8b1;
}
.title h1 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
    font-size: 78px;
    font-weight: 700;
    color: #f8edeb;
    text-shadow: black 0px 0px 10px;
    text-transform: uppercase;
}
.text-green {
    color: rgb(2, 212, 99);
}
.social-parent {
    position: absolute;
    z-index: 99;
    top: 50%;
    /* left: 35%; */
    margin: auto;
}

.social-icons {
    font-size: 22px;
}
.social-parent, .social-links, .social-container {
    width: 100%;
    text-align: center;
}

/* social icons */
.social-icons {
    padding: 0;
    list-style: none;
    /* margin: 1em; */
}

.social-icons li {
    display: inline-block;
    margin: 16px;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 14px;
    left: 16px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 54px;
    height: 54px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #00b5f5;
    background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
.social-parent {
    margin-top: 5%;
}

@media only screen and (max-width: 551px) {
    .title h1 {
        font-size: 65px;
    }
    .social-parent {
        margin-top: 18%;
    }
    .social-icons a:before {
        width: 43px;
        height: 43px;
    }
    .social-icons i {
        font-size: 20px;
        top: 12px;
        left: 13px;
    }
    .contact {
        top: 100%;
        left: 0%;
    }
}
@media only screen and (max-width: 512px) {
    .social-parent {
        margin-top: 25%;
    }
}
@media only screen and (max-width: 654px) and (min-width: 551px) {
    .title h1 {
        font-size: 65px;
    }
    .contact {
        top: 100%;
        left: 0%;
    }
}
/* XS */
@media only screen and (max-width: 375px) {
    .social-parent {
        margin-top: 30%;
    }
    .title h1 {
        font-size: 58px;
    }
    .social-icons a:before {
        width: 40px;
        height: 40px;
    }
    .social-icons i {
        font-size: 19px;
        top: 11px;
        left: 12px;
    }
}